
<%- include('partials/header.ejs') %>
<%- include('partials/titleAndMessage.ejs') %>


<div class="row text-center">
    <div class="col">
        <button type="button" class="btn btn-outline-info" onclick="window.location.href='/login'">
            Return to Home Page
        </button>
    </div>
</div>

</body>